<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The BEST Mug Shop</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h2>Invoice Generator</h2>
    <input type="text" id="name" placeholder="Enter your name">
    <input type="email" id="email" placeholder="Enter your email">
    <button id="view-invoice">View Invoice</button>
    <button id="download-invoice">Download Invoice</button>
    <section>
        <iframe id="certificate-pdf" src="" frameborder="0"></iframe><!--Downloadable pdf-->
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="js/cart.js"></script>
    <script src="js/invoice.js"></script>
</body>

</html>

