<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The BEST Mug Shop</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
        <nav>
            <ul>
              <li>
                  <a href="index.html">
                      <img src="images/cup.png" alt="Logo" width="50" height="50">
                  </a>
              </li>
              <li>
                  <a href="index.html">HOME</a>
              </li>
              <li>
                <a href="shop.html">SHOP</a>
              </li>
              <li>
                <a href="cart.html">CART</a>
              </li>
            </ul>
          </nav>
    </header>

    <main>
      <h1>The BEST Mug Shop</h1>

      <p>
        Welcome to <strong>The BEST Mug Shop</strong> – Custom Creations & Digital Essentials!
      </p>
      <div class="image-container">
        <img src="images/mug1.jpg" alt="mug example">
        <a href="shop.html">        <button class="overlay-button">Browse, Buy & Download Instantly</button></a>
      </div>
      <p>
        Explore our collection of unique merchandise for mug enthusiasts, businesses, and everyday life. Whether you're looking for funny mug, a professional mug, or a cheerful mug, we have something for you!
      </p>
      <h2>Need an Invoice? We’ve Got You Covered!</h2>
      <p>For business customers and professionals, our store offers automatic invoice generation for every purchase. Simply add your items to the cart, check out, and download your PDF invoice instantly. Perfect for expense tracking, tax deductions, and corporate purchases!</p>
    </main>
    <footer>
        <div class="socials">
            <a href="https://www.instagram.com/accounts/login/">
                <img src="images/pngegg.png" height="50px">
            </a>
        </div>
        For more information about how we handle your data, please visit our <strong>Privacy Policy</strong> linked here.
    </footer>
  </body>
</html>
