<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The BEST Mug Shop</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
        <nav>
            <ul>
              <li>
                  <a href="index.html">
                      <img src="images/cup.png" alt="Logo" width="50" height="50">
                  </a>
              </li>
              <li>
                  <a href="index.html">HOME</a>
              </li>
              <li>
                <a href="shop.html">SHOP</a>
              </li>
              <li>
                <a href="cart.html">CART</a>
              </li>
            </ul>
          </nav>
    </header>
    <h1>Shop Our In-Stock Inventory</h1>
    <main class="shop-inventory">
        <div class="shop-container">
            <div class="small-image-container">
                <h3>Mug Option 1 | $12.99</h3>
                <img src="images/mug1.jpg" alt="mug example" >
                <button class="smimg-overlay-button" data-name="Mug Option 1" data-price="12.99">Add To Cart</button>
            </div>
            <div class="small-image-container">
                <h3>Mug Option 2 | $1.4MIL</h3>
                <img src="images/mug2.jpg" alt="mug example 2">
                <button class="smimg-overlay-button" data-name="Mug Option 2" data-price="1400000">Add to Cart</button>
            </div>
            <div class="small-image-container">
                <h3>Mug Option 3 | $2.00</h3>
                <img src="images/mug3.jpg" alt="mug example 3">
                <button class="smimg-overlay-button" data-name="Mug Option 3" data-price="2.00">Add to Cart</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="socials">
            <a href="https://www.instagram.com/accounts/login/">
                <img src="images/pngegg.png" height="50px">
            </a>
        </div>
        For more information about how we handle your data, please visit our <strong>Privacy Policy</strong> linked here.
    </footer>
  </body>
  <script src="js/cart.js"></script>
</html>
